.imputadjust {

	margin-top:50px;

}
.botonEnviar {
	margin-top:50px;	
	width:95%;
}
.bs-callout {
	padding:20px;
	margin: 20px 0;
	border:1px solid #eee;
	border-left-width: 5px;
	border-radius: 3px;
}
.bs-callout-warning {
	border-left-color: #f0ad4e;

}
.iframesize{
	width: 100%;
	height: 800px;
}
.ajustetexto{
	margin-top: 7px;
}
.separador {
	margin-top: 15px;
}
.requerido {
	color: #b94a48;
}
.norequerido {
	color: #3c763d;
}

.Titulo {
	margin-top: -55px;
}

.abajo {
		position: fixed;
		bottom: 0px;
		width: 100%;
		z-index: 9999;

}
.ajustediv {
	margin-bottom: 50px;
}

.metodo {
	width: 70px;
}
